{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-200">
    <div class="px-4 py-4">
      <div class="my-8 bg-[#B38ECD] px-4 py-4 border-xl rounded-xl w-126 flex justify-center items-center">
       <p class="font-poppins italic text-white text-opacity-80 font-bold text-2xl">PageFlow</p> 

      </div>
      <div class="flex gap-4">
        <div
          class="w-1/2 p-4 border-4 border-white min-h-40 rounded-2xl bg-white"
        >
          <div class="m-8">
            <div class="flex gap-4">
              <div class="w-1/4 p-1 w-8 h-8 bg-[#6B2189] rounded-full"></div>
              <div class="w-3/4 p-1 text-3xl">İstatistikler</div>
            </div>

            <div class="flex flex-col gap-4 my-8">
              <div class="flex gap-4">
                <div class="w-1/5">
                  <svg width="7*" height="70" viewBox="0 0 178 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.6665 146.25C29.6665 141.277 31.62 136.508 35.0972 132.992C38.5745 129.475 43.2906 127.5 48.2082 127.5H148.333M29.6665 146.25C29.6665 151.223 31.62 155.992 35.0972 159.508C38.5745 163.025 43.2906 165 48.2082 165H148.333V15H48.2082C43.2906 15 38.5745 16.9754 35.0972 20.4917C31.62 24.0081 29.6665 28.7772 29.6665 33.75V146.25Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </div>
                <div class="w-3/5 p-1 text-3xl">Toplam okunan kitap sayısı</div>
                <div class="w-1/% p-1 text-3xl">{{ read_books }}</div>
              </div>
              <div class="flex gap-4">
                <div class="w-1/5">
                  <svg width="7*" height="70" viewBox="0 0 178 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.6665 146.25C29.6665 141.277 31.62 136.508 35.0972 132.992C38.5745 129.475 43.2906 127.5 48.2082 127.5H148.333M29.6665 146.25C29.6665 151.223 31.62 155.992 35.0972 159.508C38.5745 163.025 43.2906 165 48.2082 165H148.333V15H48.2082C43.2906 15 38.5745 16.9754 35.0972 20.4917C31.62 24.0081 29.6665 28.7772 29.6665 33.75V146.25Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </div>
                <div class="w-3/5 p-1 text-3xl">Toplam okunan sayfa sayısı</div>
                <div class="w-1/% p-1 text-3xl">{{ total_read_pages }}</div>
              </div>
              <div class="flex gap-4">
                <div class="w-1/5">
                  <svg width="7*" height="70" viewBox="0 0 178 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.6665 146.25C29.6665 141.277 31.62 136.508 35.0972 132.992C38.5745 129.475 43.2906 127.5 48.2082 127.5H148.333M29.6665 146.25C29.6665 151.223 31.62 155.992 35.0972 159.508C38.5745 163.025 43.2906 165 48.2082 165H148.333V15H48.2082C43.2906 15 38.5745 16.9754 35.0972 20.4917C31.62 24.0081 29.6665 28.7772 29.6665 33.75V146.25Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </div>
                <div class="w-3/5 p-1 text-3xl">Toplam okunacak kitap sayısı</div>
                <div class="w-1/% p-1 text-3xl">{{ to_read_books }}</div>
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div
          class="w-1/2 p-4 border-4 border-white min-h-40 rounded-2xl bg-white"
        >
          <div class="m-8">
            <div class="flex gap-4">
              <div class="w-1/4 p-1 w-8 h-8 bg-[#6B2189] rounded-full"></div>
              <div class="w-3/4 p-1 text-3xl">Kitap Durumu Güncelleme</div>
            </div>

            <div class="flex gap-4 my-8">
              <div class="w-2/5 p-1 text-3xl">Kitap Arama</div>
              <input type="text" placeholder="Kitap ismi girin" 
                class="w-3/5 h-15 border-2 border-gray-300 rounded-xl p-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
             
                <div class="w-1/5 p-1 text-3xl">
                <svg width="40" height="40" viewBox="0 0 184 183" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M150.267 160.125L101.967 112.088C98.1333 115.137 93.725 117.552 88.7417 119.331C83.7583 121.11 78.4556 122 72.8333 122C58.9056 122 47.1181 117.203 37.4708 107.608C27.8236 98.013 23 86.2896 23 72.4375C23 58.5854 27.8236 46.862 37.4708 37.2672C47.1181 27.6724 58.9056 22.875 72.8333 22.875C86.7611 22.875 98.5486 27.6724 108.196 37.2672C117.843 46.862 122.667 58.5854 122.667 72.4375C122.667 78.0292 121.772 83.3031 119.983 88.2594C118.194 93.2156 115.767 97.6 112.7 101.412L161 149.45L150.267 160.125ZM72.8333 106.75C82.4167 106.75 90.5625 103.414 97.2708 96.7422C103.979 90.0703 107.333 81.9688 107.333 72.4375C107.333 62.9062 103.979 54.8047 97.2708 48.1328C90.5625 41.4609 82.4167 38.125 72.8333 38.125C63.25 38.125 55.1042 41.4609 48.3958 48.1328C41.6875 54.8047 38.3333 62.9062 38.3333 72.4375C38.3333 81.9688 41.6875 90.0703 48.3958 96.7422C55.1042 103.414 63.25 106.75 72.8333 106.75Z" fill="#1D1B20"/>
                </svg>
              </div>
            </div>

            <div id="result-area" class="p-4 bg-gray-200 border-white rounded-xl h-200 ">
              Herhangi bir kitap durumu görüntülemek için lütfen arama yapınız
            </div>
          </div>
        </div>
      </div>
      <div id="suggestion"  class="w-full bg-white rounded-2xl p-4 flex justify-center items-center m-2">
         <button id="suggest-btn" class="text-lg font-semibold py-2 bg-[#B38ECD] text-white rounded-xl w-36">
          sihirli öneri
        </button>
        <div id="suggestion-result" class="text-center text-gray-800 text-lg"></div>
      </div>
      <div id="logout" class="w-full rounded-2xl p-4 flex justify-center items-center m-2">
        <button class="text-lg font-semibold py-2 bg-[#B38ECD] text-white rounded-xl w-36">Çıkış Yap</button>
      </div>
    </div> 
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const input = document.querySelector('input[type="text"]');
      const resultArea = document.getElementById('result-area');
  
      input.addEventListener('input', function () {
        const query = input.value;
  
        if (query.length === 0) {
          resultArea.innerHTML = 'Herhangi bir kitap durumu görüntülemek için lütfen arama yapınız';
          return;
        }
  
        fetch(`/search?q=${query}`)
          .then(response => response.text())
          .then(html => {
            resultArea.innerHTML = html;
            setupSaveButtons(); 
          });
      });
  
      
      function setupSaveButtons() {
        document.querySelectorAll("#result-area button").forEach((btn) => {
          btn.addEventListener("click", function () {
            const selectEl = this.previousElementSibling;
            const status = selectEl.value;
            if (status === "Durum Seçiniz") {
              alert("Lütfen bir durum seçin.");
              return;
            }
  
            const bookName = this.closest("div.flex").querySelector("strong").innerText;
            const author = this.closest("div.flex").querySelector("p:nth-child(2)").innerText.replace("Yazar: ", "");
            const page = this.closest("div.flex").querySelector("p:nth-child(3)").innerText.replace("Sayfa: ", "");
  
            fetch("/save_status/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"),
              },
              body: JSON.stringify({
                bookname: bookName,
                author: author,
                page: page,
                status: status,
              }),
            })
              .then((res) => res.json())
              .then((data) => {
                alert(data.message);
              });
          });
        });
      }
  
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
    });

    document.getElementById('logout').querySelector('button').addEventListener('click',function(){
      document.cookie = "uth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
      localStorage.clear();
      sessionStorage.clear();
      window.location.href = '/login'
    })
    function loadStatistics() {
  fetch('/statistics/')
    .then(res => res.json())
    .then(data => {
      document.getElementById('read-books-count').textContent = data.read_books;
      document.getElementById('read-pages-count').textContent = data.total_read_pages;
      document.getElementById('to-read-books-count').textContent = data.to_read_books;
    })
    .catch(error => {
      console.error('İstatistikler alınamadı:', error);
    });
}

document.addEventListener('DOMContentLoaded', function () {
  loadStatistics(); // Sayfa yüklenince istatistikleri getirir
});
document.getElementById('suggest-btn').addEventListener('click', function () {
  fetch('/magic_suggestion/')
    .then(res => res.json())
    .then(data => {
      document.getElementById('suggest-btn').style.display = 'none';
      const resultDiv = document.getElementById('suggestion-result');
      if (data.message) {
        resultDiv.innerHTML = `<p class="text-gray-600">${data.message}</p>`;
      } else {
        resultDiv.innerHTML = `
          <p class="font-bold text-xl mb-1">${data.name}</p>
          <p class="text-gray-700"><b>Yazarı:</b> ${data.author}</p>
          <p class="text-gray-700"><b>Sayfa sayısı</b>: ${data.page}</p>
        `;
      }
    })
    .catch(err => {
      console.error('Sihirli öneri hatası:', err);
    });
});
  </script>
  
</html>
